/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fefffd; /* bright green background */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-box {
  display: flex;
  width: 800px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}

/* Left Form Section */
.form-section {
  flex: 2;
  padding: 30px;
}

.logo {
  width: 120px;      /* adjust size */
  margin-bottom: 15px;
}


.form-section h1 {
  margin: 0;
  font-size: 28px;
}

.subtitle {
  color: #666;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group span {
  color: red;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.full-width {
  margin-bottom: 20px;
}

.signup-btn {
  background: #5cdf5c;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.signup-btn:hover {
  background: #6ce600;
}

/* Right Side Section */
.side-section {
  flex: 1;
  background: #5cdf5c;
  padding: 30px;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.side-section h2 {
  margin-top: 145px;
  font-size: 22px;
}

.login-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  border: 2px solid #000;
  background: transparent;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.login-btn:hover {
  background: #000;
  color: #fff;
}
